.login-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-width: 600px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.err {
    color: rgb(200, 0, 0);
    font-size: smaller;
    margin-top: -5px;
    margin-bottom: 10px;
}