/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-dark: #000;
  --text-dark-0: #000;
  --text-dark-1: #333;

  --background-light: #fff;
  --text-light-0: #fff;
  --text-light-1: #f2f2f2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "helvetica";
  height: 100vh;
  background: var(--background-dark);
  color: var(--text-light-1);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

/* styling scrollbar */
.content::-webkit-scrollbar {
  width: 7px;
}

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #333;
  box-shadow: inset 0 0 6px #333;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #333;
}

.container > * {
  flex: 1 1 auto;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
