<div class="feed-list">

    <ng-container *ngIf="loading">
        <div class="feed-card" *ngFor="let feed of [{}, {}, {}]">
            <div class="left">
                <app-skeleton-loader circle="true" Cheight="40px" Cwidth="40px"></app-skeleton-loader>
            </div>
            <div class="right">
                <app-skeleton-loader Cheight="22px" Cwidth="80%"></app-skeleton-loader>
                <app-skeleton-loader Cheight="18px" Cwidth="95%"></app-skeleton-loader>
                <app-skeleton-loader Cheight="18px" Cwidth="95%"></app-skeleton-loader>
                <app-skeleton-loader Cheight="12px" Cwidth="25%"></app-skeleton-loader>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="feeds && !loading">
        <h1 style="text-align: center; margin-top: 3em;" *ngIf="feeds?.length == 0">No Feeds :( </h1>
        <div class="feed-card" *ngFor="let feed of feeds">
            <div class="left">
                <div class="profile" *ngIf="(authService.user$ | async) as user">
                    <img class="img" *ngIf="user.photoURL" [src]="user.photoURL">
                    <div class="img" *ngIf="user.photoURL">{{ user.displayName[0] }}</div>
                    <div class="img" *ngIf="!(user.photoURL || user.displayName) ">{{ user.email[0] }}</div>
                </div>
            </div>
            <div class="right">
                <div class="title">
                    {{ feed.title }}
                </div>
                <div class="content">
                    {{ feed.content }}
                </div>
                <div class="footer">
                    <p class="footer">{{ feed.createDate.seconds * 1000 | date:'fullDate' }}
                        <span *ngIf="(authService.user$ | async)?.uid == feed.uid" (click)="delete(feed.id)"
                            style="color: lightblue"> | Delete</span>
                    </p>
                </div>
            </div>
        </div>
    </ng-container>
</div>